body{
    display: flex;
    height: 100vh;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #1aa7ec;
}
.loaders{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}
.l_active{
    display: flex;
}
span{
    font-size: large;
    font-weight: bold;
    color: #16216c;
}
.loader {
    text-align: center;
    margin: 2rem;
    border: 16px solid #f3f3f3;
    border-radius: 50%;
    border-top: 16px solid #1e2f97;
    width: 8rem;
    height: 8rem;
    -webkit-animation: spin 2s linear infinite; /* Safari */
    animation: spin 2s linear infinite;
}
  
@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

  /* Safari */
@-webkit-keyframes spin {
    0% { -webkit-transform: rotate(0deg); }
    100% { -webkit-transform: rotate(360deg); }
}

#err{
    width: 24rem;
    height: 24rem;
    position: relative;
    background-image: url(../imgs/i.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-blend-mode: multiply;
}
#errs{
    display: none;
}
#errs_active{
    display: flex;
}